# Ignore everything in the root directory
/*

# Re-include .gitignore
!/.gitignore

# Re-include project directories/files
!/src/
!/tests/
!/cxxopts/
!/scripts/
!/README.md
!/CMakeLists.txt

# Ignore these files and directories
.DS_Store

build/

*.a
*.o
*.obj